@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


body {
    font-family: 'Raleway', sans-serif;
}

/* begin banners iniciais */

.banner-1 {
    background-image: url(../images/banner1.jpeg);
    background-size: cover;
    background-position: center;
    height: 2rem;
}

.banner-2 {
    background-color: #102c4a;
    height: 2.3rem;
}

.banner-2-texto {
    text-transform: uppercase;
    color: white;
    font-size: 0.7rem;
}

/* end banners iniciais */

/* begin barra de busca */

.container-input {
    position: relative;
}

.botao-busca {
    position: absolute;
    bottom: 0;
}

/* end barra de busca */

/* begin nav desktop */

nav {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

.menu-item a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.7rem;
    text-shadow: 1px 1px 5px #525252;
    color: white;
    transition: 0.5s;
}

.menu-item a:hover {
    border-bottom: solid 2px white;
}

/* end nav desktop */

/* begin offcanvas */
.custom-offcanvas-header {
    background-color: #102c4a;
    color: white;
}

.login-offcanvas {
    line-height: 1rem;
    margin-left: -70px;
}

.login-offcanvas a {
    color: white;
}

.menu-offcanvas h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: #102c4a;
}

.menu-offcanvas-items {
    list-style: none;
    padding: 0;
    position: relative;
}

.menu-offcanvas-item {
    border-bottom: solid 1px #ccc;
    padding: 1rem;
}

.menu-offcanvas-item a {
    text-decoration: none;
    color: #102c4a;
}

.menu-offcanvas-item::after {
    content: ">";
    display: block;
    color: #ccc;
    position: absolute;
    margin-left: 310px;
    margin-top: -35px;
    font-size: 1.5rem;
}

/* end offcanvas */

/* begin carrosel principal */

.carrosel-principal {
    z-index: -1;
    position: relative;
    top: -140px;
}

.img-carousel {
    background-size: cover;
    background-position-x: center;
    width: 100%;
    height: 90vh;
}

.img-carousel-1 {
    background-image: url(../images/banner-principal-1.jpeg);
}

.img-carousel-2 {
    background-image: url(../images/banner-principal-2.jpeg);
}

.img-carousel-3 {
    background-image: url(../images/banner-principal-3.jpeg);
}

/* end carrosel principal */

/* begin produtos */

.produtos {
    margin-top: -60px;
}

.produtos h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: #102c4a;
}

.produto {
    position:relative;
}

.desconto::before {
    /* content: "40% off"; */
    display: block;
    position: absolute;
    width: 85px;
    height: 30px;
    color: white;
    background-color: #2680EB;
    font-size: 0.8rem;
    padding: 5px;
    right: 12px;
    border-radius: 3px 0 0 3px;
}

.desconto-29::before {
    content: "29% OFF";
}

.desconto-38::before {
    content: "38% OFF";
}

.desconto-40::before {
    content: "40% OFF";
}

.produto-link {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}

.produto-link:hover {
    color: black;
}

.preco-antigo {
    font-size: 0.9rem;
    text-decoration: line-through;
    color: #102c4a;
}

.preco-atual {
    font-weight: bold;
    font-size: 1.2rem;
    color: #102c4a;
}

.preco-atual .cifrao {
    font-size: 0.9rem;
}

/* end produtos */

/* begin footer */

footer {
    background-color: #eff5ff;
}

/* footer mobile start */

.accordion-custom * {
    background-color: #eff5ff;
}

.accordion-custom button,
.footer-nav h2 {
    text-transform: lowercase;
    font-size: 0.8rem;
    font-weight: bold;
    color: #102c4a;
    letter-spacing: 1px;
}

.footer-nav h2 {
    border-bottom: 1px solid #ccc;
}


.footer-nav {
    list-style: none;
    padding: 0;
}

.footer-nav a {
    font-size: 0.7rem;
    color: #888;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: 0.5px;
    line-height: 2rem;
}
/* footer mobile end  */

.footer-nav-desktop {
    border-bottom: solid 1px #ccc;
}

.logos-footer {
    list-style: none;
    border-bottom: solid 1px #ccc;
}

.logos-footer img,
.logos-footer svg {
    height: 20px;
}

/* footer info start  */
.info-footer h3 {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    color: #102c4a;
    letter-spacing: 1px;
}

.info-footer p,
.info-footer a {
    font-size: 0.7rem;
    color: #102c4a;
    margin: 0;
}


.info-footer a {
    font-weight: bold;
    text-decoration: none;
}
/* footer info end  */

/* end footer */